body {
    text-align: left;
    background-color: #ffffec;
    font-family: 'Open Sans', sans-serif;
    width: 232px;
    
}

#form{
    float:left;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    width: 232px;
    border-radius: 6px;
  }

.grid-container > div {
    background-color: #f5f5f0;
    border: 1px solid #999998;
    padding: 8px 0px;
    font-size: 25px;
    cursor: pointer;
    color: #000000;
}

.grid-container > div:first-child{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    grid-column: 1 / 4 span;
    padding-top: 0px;
    background-color: #999998;
}

.grid-container > div:hover {
    background-color: #999998;
}

.grid-container > div:nth-child(18){
    grid-column: 1 / 2 span;
}

.grid-container > div:nth-child(18){
    border-bottom-left-radius: 6px;
}

.grid-container > div:last-child{
    border-bottom-right-radius: 6px;
}

.grid-container > div:nth-child(4n+5), div:last-child{
    background-color:#f39331;
    color: #ffffff;
}

.grid-container > div:nth-child(4n+5):hover{
    background-color:#999998;
}

#answer{
    /* border-bottom: 1px solid; */
    font-size: 0.5em;   
    margin: 0;
    text-align: right;
    right: 10px;
    width: 222px;
    height: 16px;
    background-color:#999998;
    color: #ffffff;
    cursor: progress;
    border-radius: 6px;
}

input[type=number] {
    background-color: #999998;
    float: left;
    text-align: right;
    margin: 0;
    border: none;
    font-weight: 100;
    font-size: 2em;
    outline: none;
    border: none;
    color: transparent;
    text-shadow: 0 0 0 white;
    min-width: 214px;
    max-width: 214px;
}

input[type=number]::placeholder {
    color: white;
    font-weight: 100;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#calc-wrap{
    text-align: center;
    background-color: #575757;
}

.active{
    
}